body{

  background: rgb(2,0,36);
  background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgb(66, 3, 102) 35%, rgb(83, 14, 92) 100%);
}

h1{
  text-align: center;
  color: 	#06633c;
  font-family: 'Times New Roman', Times, serif;                       
}

h3{
  text-align: center;
  color: 	rgb(255, 254, 254);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

p{
  text-align:center;
  color: 	#ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
  color: #ffffff;
}

img{
  display: block;
  margin: 0 auto;
}