body{

  background: rgb(2,0,36);
  background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgb(66, 3, 102) 35%, rgb(83, 14, 92) 100%);
}

h1{
  text-align: center;
  color: 	#06633c;
  font-family: Monoton;                       
}

h3{
  text-align: center;
  color: 	rgb(255, 254, 254);
  font-family: Ultra;
  
}

p{
  text-align:center;
  color: 	#ffffff;
  font-family: Contrail One;
}

h4{
  font-family: Contrail One;
}

a{
  color: #ffffff;
}

img{
  display: block;
  margin: 0 auto;
}